@charset "utf-8";

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 15% 0;
    min-height: 200px;
}

.box div {
    width: 100px;
    height: 100px;
}

div .name-div {
    width: 100px;
}

/* =============================
    MOBILE STYLES 0px to 700px 
   ============================= */

@media only screen and (max-width:700px) {
   .box {
    margin-top: 22%;
    flex-direction: column;
   }
}

/* ==============================================
    TABLET AND DESKTOP STYLES GREATER THAN 700px
   ============================================== */

@media only screen and (min-width:701px) {
    
    .box {
        flex-direction: row;
    }

    .name-div {
        margin-right: 1.725%;
    }
}