@charset "utf-8";

/* =========================
    STYLES FOR ALL DISPLAYS
   ========================= */

*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 20px;
    background: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    font-weight: 300;
    background: linear-gradient(#a6d8ff, #fff, #fff); 
}

html, body {
    min-height: 100vh;
    width: 100%;
}

header{
    background: lightgrey;
    height: 70px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/* HAMBURGER STYLES */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* NAV MENU STYLES */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-left: 30px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* adds an on hover transition to white*/ 
nav a:hover {
    transition: 1s;
    color: white;
}

nav ul li {
    margin-top: 20px;
}
footer {
    text-align: center;
    
}

/* =============================
    MOBILE STYLES 0px to 700px 
   ============================= */

@media only screen and (max-width:700px) {

/* NAV MENU STYLES */

.navContainer {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

nav ul li {
    margin: 16px 0;
}

.navContainer.active {
    left: 0;
}

/* HAMBURGER STYLES */

.hamburger {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 45px;
}


}

/* ==============================================
    TABLET AND DESKTOP STYLES GREATER THAN 700px
   ============================================== */

@media only screen and (min-width:701px) {

/* NAV MENU STYLES */

.navContainer{
    width: 80%;
    margin: 0 auto;
}

nav {
    float: right;
}


nav li {
    display: inline-block;
}



}